<%= content_for(:title, "#{@contact.name} | Wikipages") %>

<h1><%= @contact.name %></h1>

<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>


<p><a href="/contacts/<%= @contact.id %>/edit" class="btn btn-default">Edit</a></p>
<p><a href="/contacts/<%= @contact.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow"
      class="btn btn-danger">Delete</a></p>
<p><a href="/contacts">Return to contact listing</a></p>
